@model IpModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ip Getter code test for C#</h1>
</div>
<br/>
<br/>
<div>
    <p>
        Visit <a href="https://github.com/jugalo1713/IpGetter" target="_blank">GitHub repository</a> for complete code
    </p>
</div>
<br/>
<div>
    <ul>
        <li>From Server variables HTTP_INCAP_CLIENT_IP: @Model.HTTP_INCAP_CLIENT_IP</li>
        <li>From Server variables HTTP_X_FORWARDED_FOR: @Model.HTTP_X_FORWARDED_FOR</li>
        <li>From Server variables HTTP_TRUE_CLIENT_IP: @Model.HTTP_TRUE_CLIENT_IP</li>
        <li>From Server variables REMOTE_ADDR: @Model.RemoteIpAddress</li>
        <li>From Headers INCAP-CLIENT-I: @Model.INCAP_CLIENT_IP</li>
        <li>From Headers X-Forwarded-For: @Model.X_Forwarded_For</li>
        <li>From Headers True-Client-IP: @Model.True_Client_IP</li>
        <li>From HttpContext?.Connection?.RemoteIpAddress?.MapToIPv4(): @Model.RemoteIpAddress </li>
    </ul>
</div>
